<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naufaldystd.kumparanposting">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_kumparan_posting"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_kumparan_posting_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KumparanPosting"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.details.photo.DetailPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.details.album.AlbumDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.details.user.DetailUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.details.post.DetailPostActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>